
h1,h2,h3,h4,h5,h6, p {
	margin: 0;
	padding: 
}

body{
	background-color: #16A085;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container{
	display: block;
	flex-wrap: wrap;
	padding: 45px 90px 200px 90px;
	background-color: #fff;
	width: 685px;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-image: url("./img/bicycle.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0px 195px;
	border-radius: 5px;
	height: 505px;

}

.account{
	border: 1px solid grey;
	border-radius: 50%;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.account:hover{
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.containerHeading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.containerHeading p{
	color: silver;
	margin-top: 20px;
}

.cost{
	margin-top: 30px;
}

.box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.box h4{
	font-size: 18px;
}

.box p{
	color: grey;
}

.box h2{
	color: #6A6E74;
}



















1